
.social_item {
	margin-top: 1.5rem;
	font-size: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
	justify-content: flex-start;
	color: var(--text-color);
}
body{
    background-color: lightcoral;
}
.social_item:hover {
	background: linear-gradient(green,yellow,green);
}
.social_item svg {
	width: 2rem;
}